# Ignore secrets and sensitive files
.streamlit/secrets.toml
.streamlit/gc.json

# Ignore virtual environment folder
venv/

# Compiled Python files
*.pyc
__pycache__/

# IDE configurations (for IntelliJ, PyCharm, etc.)
.idea/

# Sensitive credentials
*.json

# Logs and temporary files
*.log

